<!DOCTYPE html>
<html>
  <head>
    <title>{{package.name}} - {{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.2.0/respond.js"></script>
    <![endif]-->
    <link href="css/main.css" rel="stylesheet" media="screen">
    <meta name="author" content="{{author}}">
    <meta name="keywords" content="{{keywords}}">
    <!-- 
    {{inspect page 'json'}}
    -->
  </head>
  <body>
    {{> nav}}
    {{> body}}
    <script src="//code.jquery.com/jquery.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script>document.write('<script src="http://'+ (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></'+ 'script>')</script>
  </body>
</html>
